#MacOS
.DS_Store

### R ###
# History files
.Rhistory
.Rapp.history
oncological_treatments.xlsx
h.all.v2023.1.Hs.json.txt
prism_datasets.rda
cellline_datasets.rda
# Session Data files
.RData
.RDataTmp

# User-specific files
.Ruserdata